
.e19_714 { 
	overflow:scroll;
	
}
.e19_720 { 
	color:rgba(0, 68.00000354647636, 69.00000348687172, 1);
	font-family:Futura PT;
	font-size:38px;
	position:absolute;
	top: 5%;
}
.e19_721 { 
	color:rgba(0, 0, 0, 1);
	font-size:16px;
	position:absolute;
	top: 15%;
	padding-right: 15%;
	height: 1500px;
}

